.flag{
    margin-top: -95px;
}

.stats{
    padding: 10px 25px;
    background-color: #282B30;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 220px;
    align-items: center;
    gap: 15px;
    .divider{
        display: block;
        width: 2px;
        height: 30px;
        background-color: #1c1d1f;
    }
}

.infoTable{
    width: 100%;
    tr{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #282B30;
        padding: 17px 0;
        td:first-child{
            color: #6B717E;
        }
    }

}

.tdList{
    span+span{
        &::before{
            content: ', ';
        }
    }
}