@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1C1D1F;
  color: #D2D5DA;
}

.container{
  background-color: #1C1D1F;
  border: 1px solid #282B30;
  margin: auto;
  padding: 25px 15px;
  border-radius: 15px;
  margin-top: -50px;
  z-index: 1;
  position: relative;
}