.searchInput{
    width: 370px;
    height: 47px;
    border-radius: 15px;
    padding: 0 16px 0 45px;
    background: #282B30;
}

.label{
font-size: 13px;
}

.selectInput{
    width: 280px;
    height: 47px;
    border-radius: 10px;
    padding: 0 26px 0 15px;
    outline: 3px solid #282B30;
    background: transparent;
    margin-top: 10px;
    appearance: none;
}